<a href="https://colab.research.google.com/github/Chandu991/ML_LABS/blob/main/ML_Lab12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ML LAB-12**

**Exploratory Data Analysis(EDA):**

Exploratory Data Analysis (EDA) is a crucial initial step in data science projects. It involves analyzing and visualizing data to understand its key characteristics, uncover patterns, and identify relationships between variables refers to the method of studying and exploring record sets to apprehend their predominant traits, discover patterns, locate outliers, and identify relationships between variables. EDA is normally carried out as a preliminary step before undertaking extra formal statistical analyses or modeling.

**Key aspects of EDA include:**

**Distribution of Data:** Examining the distribution of data points to understand their range, central tendencies (mean, median), and dispersion (variance, standard deviation).

**Graphical Representations:** Utilizing charts such as histograms, box plots, scatter plots, and bar charts to visualize relationships within the data and distributions of variables.

**Outlier Detection:** Identifying unusual values that deviate from other data points. Outliers can influence statistical analyses and might indicate data entry errors or unique cases.

**Correlation Analysis:** Checking the relationships between variables to understand how they might affect each other. This includes computing correlation coefficients and creating correlation matrices.

**Handling Missing Values:** Detecting and deciding how to address missing data points, whether by imputation or removal, depending on their impact and the amount of missing data.

**Summary Statistics:** Calculating key statistics that provide insight into data trends and nuances.

**Testing Assumptions:** Many statistical tests and models assume the data meet certain conditions (like normality or homoscedasticity). EDA helps verify these assumptions

### **12. Exploratory Data Analysis for Classification using Pandas or Matplotlib.**

In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/Lab12.csv')

In [2]:
# Get summary statistics for numerical columns
print(data.describe())

                  ID  CREDIT_SCORE  VEHICLE_OWNERSHIP       MARRIED  \
count   34541.000000  34540.000000       34540.000000  34540.000000
mean   393895.001737      0.600758           0.829936      0.582803
std    280385.910600      0.137885           0.375694      0.493103
min       101.000000      0.074401           0.000000      0.000000
25%    154305.000000      0.514562           1.000000      0.000000
50%    352014.000000      0.600172           1.000000      1.000000
75%    597750.000000      0.701601           1.000000      1.000000
max    999967.000000      0.954075           1.000000      1.000000

           CHILDREN   POSTAL_CODE  ANNUAL_MILEAGE  SPEEDING_VIOLATIONS  \
count  34540.000000  34540.000000    34540.000000         34540.000000
mean       0.519398  18140.177591    11050.492183             0.674435
std        0.499631  16960.418942     2973.092908             1.389388
min        0.000000  10238.000000     2000.000000             0.000000
25%        0.000000  10238.000000     9000.000000             0.000000
50%        1.000000  10238.000000    11000.000000             0.000000
75%        1.000000  22910.500000    13000.000000             1.000000
max        1.000000  92101.000000    21000.000000            18.000000

               DUIS  PAST_ACCIDENTS       OUTCOME
count  34540.000000    34540.000000  34540.000000
mean       0.135495        0.550695      0.423625
std        0.609808        1.405076      0.494140
min        0.000000        0.000000      0.000000
25%        0.000000        0.000000      0.000000
50%        0.000000        0.000000      0.000000
75%        0.000000        0.000000      1.000000
max        6.000000       15.000000      1.000000

In [3]:
# Display all column names in the dataset
print(data.columns)

Index(['ID', 'AGE', 'GENDER', 'DRIVING_EXPERIENCE', 'EDUCATION', 'INCOME',
       'CREDIT_SCORE', 'VEHICLE_OWNERSHIP', 'VEHICLE_YEAR', 'MARRIED',
       'CHILDREN', 'POSTAL_CODE', 'ANNUAL_MILEAGE', 'SPEEDING_VIOLATIONS',
       'DUIS', 'PAST_ACCIDENTS', 'OUTCOME', 'TYPE_OF_VEHICLE'],
      dtype='object')

In [4]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
data = pd.read_csv('/content/Lab12.csv')

# Set a visual style for the plots
sns.set(style="whitegrid")

# 1. Basic Information and Summary Statistics
print(data.info())  # Overview of dataset structure
print(data.describe())  # Summary statistics for numerical features
print(data.head())  # Peek at the first few rows of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77699 entries, 0 to 77698
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   77699 non-null  int64
 1   AGE                  77699 non-null  object
 2   GENDER               77699 non-null  object
 3   DRIVING_EXPERIENCE   77699 non-null  object
 4   EDUCATION            77698 non-null  object
 5   INCOME               77698 non-null  object
 6   CREDIT_SCORE         77698 non-null  float64
 7   VEHICLE_OWNERSHIP    77698 non-null  float64
 8   VEHICLE_YEAR         77698 non-null  object
 9   MARRIED              77698 non-null  float64
 10  CHILDREN             77698 non-null  float64
 11  POSTAL_CODE          77698 non-null  float64
 12  ANNUAL_MILEAGE       77698 non-null  float64
 13  SPEEDING_VIOLATIONS  77698 non-null  float64
 14  DUIS                 77698 non-null  float64
 15  PAST_ACCIDENTS       77698 non-null  float64
 16  OUTCOME              77698 non-null  float64
 17  TYPE_OF_VEHICLE      77698 non-null  object
dtypes: float64(10), int64(1), object(7)
memory usage: 10.7+ MB
None
                  ID  CREDIT_SCORE  VEHICLE_OWNERSHIP       MARRIED  \
count   77699.000000  77698.000000       77698.000000  77698.000000
mean   394764.568399      0.601823           0.828155      0.584159
std    279642.793156      0.137936           0.377248      0.492870
min       101.000000      0.074401           0.000000      0.000000
25%    156485.500000      0.514757           1.000000      0.000000
50%    353950.000000      0.600851           1.000000      1.000000
75%    598829.500000      0.702717           1.000000      1.000000
max    999976.000000      0.954075           1.000000      1.000000

           CHILDREN   POSTAL_CODE  ANNUAL_MILEAGE  SPEEDING_VIOLATIONS  \
count  77698.000000  77698.000000    77698.000000         77698.000000
mean       0.520001  18054.192540    11052.858503             0.677456
std        0.499603  16776.147405     2976.264934             1.388153
min        0.000000  10238.000000     2000.000000             0.000000
25%        0.000000  10238.000000     9000.000000             0.000000
50%        1.000000  10238.000000    11000.000000             0.000000
75%        1.000000  22272.250000    13000.000000             1.000000
max        1.000000  92101.000000    21000.000000            20.000000

               DUIS  PAST_ACCIDENTS       OUTCOME
count  77698.000000    77698.000000  77698.000000
mean       0.128794        0.545407      0.423524
std        0.587572        1.390314      0.494120
min        0.000000        0.000000      0.000000
25%        0.000000        0.000000      0.000000
50%        0.000000        0.000000      0.000000
75%        0.000000        0.000000      1.000000
max        6.000000       15.000000      1.000000
       ID    AGE  GENDER DRIVING_EXPERIENCE    EDUCATION         INCOME  \
0  816393  40-64  female             20-29y   university   middle class
1  251762  26-39    male             20-29y  high school   middle class
2  481952  40-64    male             20-29y         none   middle class
3    3506  40-64    male             20-29y  high school    upper class
4  498013  40-64  female             20-29y         none  working class

   CREDIT_SCORE  VEHICLE_OWNERSHIP VEHICLE_YEAR  MARRIED  CHILDREN  \
0      0.638050                0.0   after 2015      0.0       0.0
1      0.475741                1.0  before 2015      1.0       0.0
2      0.839817                1.0  before 2015      1.0       1.0
3      0.682527                1.0  before 2015      0.0       1.0
4      0.572184                1.0   after 2015      1.0       1.0

   POSTAL_CODE  ANNUAL_MILEAGE  SPEEDING_VIOLATIONS  DUIS  PAST_ACCIDENTS  \
0      37379.0         11000.0                  0.0   0.0             0.0
1      10238.0          9000.0                  0.0   0.0             0.0
2      10238.0         12000.0                  0.0   0.0             0.0
3      92099.0          6000.0                  1.0   0.0             0.0
4      32122.0         15000.0                  0.0   0.0             1.0

   OUTCOME TYPE_OF_VEHICLE
0      0.0      Sports Car
1      1.0       HatchBack
2      1.0           Sedan
3      1.0           Sedan
4      0.0           Sedan

In [ ]:
# Check for missing values
print(data.isnull().sum())

# If there are missing values, you can visualize them (optional)
sns.heatmap(data.isnull(), cbar=False, cmap='viridis')
plt.title('Missing Values in the Dataset')
plt.show()

ID                     0
AGE                    0
GENDER                 0
DRIVING_EXPERIENCE     0
EDUCATION              1
INCOME                 1
CREDIT_SCORE           1
VEHICLE_OWNERSHIP      1
VEHICLE_YEAR           1
MARRIED                1
CHILDREN               1
POSTAL_CODE            1
ANNUAL_MILEAGE         1
SPEEDING_VIOLATIONS    1
DUIS                   1
PAST_ACCIDENTS         1
OUTCOME                1
TYPE_OF_VEHICLE        1
dtype: int64

In [ ]:
# Summary of numerical features
print(data.describe())

# Plot histograms of numerical features
data.hist(figsize=(15, 10), bins=30)
plt.tight_layout()
plt.show()

In [ ]:
# 2. Plot the distribution of the target variable (OUTCOME)
plt.figure(figsize=(8,6))
sns.countplot(data=data, x='OUTCOME')
plt.title('Distribution of Outcome (Target Variable)')
plt.xlabel('Outcome (0 = No Claim, 1 = Claim)')
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot the distribution of age groups and outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='AGE', hue='OUTCOME')
plt.title('Age Distribution by Outcome')
plt.xlabel('Age Group')
plt.ylabel('Count')
plt.show()

# Plot the distribution of vehicle types and outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='TYPE_OF_VEHICLE', hue='OUTCOME')
plt.title('Vehicle Type by Outcome')
plt.xlabel('Vehicle Type')
plt.ylabel('Count')
plt.show()

# Plot distribution of gender and outcome
plt.figure(figsize=(8,6))
sns.countplot(data=data, x='GENDER', hue='OUTCOME')
plt.title('Gender Distribution by Outcome')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

In [ ]:
# Exclude non-numeric columns before calculating the correlation matrix
numeric_data = data.select_dtypes(include=['float64', 'int64'])

# 4. Analyze the correlation between numerical features
plt.figure(figsize=(12,8))
corr = numeric_data.corr()  # Compute correlation matrix only on numeric columns
sns.heatmap(corr, annot=True, cmap="coolwarm", fmt=".2f")
plt.title('Correlation Heatmap of Numerical Features')
plt.show()

In [ ]:
# 5. Relationship between Credit Score and Outcome
plt.figure(figsize=(8,6))
sns.histplot(data=data, x='CREDIT_SCORE', hue='OUTCOME', multiple="stack", kde=True)
plt.title('Credit Score Distribution by Outcome')
plt.xlabel('Credit Score')
plt.ylabel('Density')
plt.show()

In [ ]:
# 6. Explore the distribution of vehicle types in relation to the outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='TYPE_OF_VEHICLE', hue='OUTCOME')
plt.title('Vehicle Type vs Outcome')
plt.xlabel('Type of Vehicle')
plt.ylabel('Count')
plt.show()

In [ ]:
# Driving Experience vs Outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='DRIVING_EXPERIENCE', hue='OUTCOME')
plt.title('Driving Experience vs Outcome')
plt.xlabel('Driving Experience')
plt.ylabel('Count')
plt.show()

In [ ]:
# 7. Analyze the relationship between Annual Mileage and Outcome
plt.figure(figsize=(8,6))
sns.boxplot(data=data, x='OUTCOME', y='ANNUAL_MILEAGE')
plt.title('Annual Mileage vs Outcome')
plt.xlabel('Outcome')
plt.ylabel('Annual Mileage')
plt.show()